name: Publish .NET Package

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish:
    runs-on: macos-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          source-url: https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
        env: 
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
          
      - name: Install Workloads
        run: dotnet workload install android macos ios tvos maccatalyst --ignore-failed-sources
          
      - name: Restore
        run: dotnet restore
        
      - name: Building
        run: dotnet build --configuration Release --no-restore Hazelnut.Log/Hazelnut.Log.csproj
        
      - name: Packaging
        run: dotnet pack --configuration Release --no-build --output . Hazelnut.Log/Hazelnut.Log.csproj
        
      - name: Publishing
        if: github.event_name == 'push'
        run: dotnet nuget push *.nupkg --api-key ${{secrets.GITHUB_TOKEN}}